body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
    background-color:aliceblue;
    background-image: url(book.jpg);
   
    background-size:cover;
    
    
}

a {
  color: #ffffff;
    padding-right: 10px;
    text-decoration: none;
}
a.hover{
    text-decoration: none;
}

nav{
    background-color: black;
}

h1{
    padding-top: 40px;
}
footer{
    padding-top: 20px;
    font-family: monospace;
    
}
   